
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;;
    background-color: #FFFFFF;
}

header{
  
}

header h1{
  color: #001122;
  font-weight: 700;
  letter-spacing: -4px;
  text-align: center;
  animation: appearFromBottom 1s ease-out forwards; 
}

header h2{
  color: #888888;
  font-weight: 500;
  letter-spacing: -1px;
  text-align: center;
  animation: appearFromBottom 1s ease-out forwards; 
}

.header-image-container{
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
  animation: appearFromBottom 1s ease-out forwards; 
}

.header-image-container img{
  max-width: 100%;
}


.image-container{
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
  animation: appearFromBottom 1s ease-out forwards; 
}

.image-container img{
  max-width: 100%;
}

header button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  animation: appearFromBottom 1s ease-out forwards; 
}


/* information action ratio */

/* information action ratio */

/* information action ratio */

/* information action ratio */

/* information action ratio */

.information{
  /* background-color: #F7F7F7; */
}

.container{
  justify-content: center;
  background-color: #F7F7F7;
}

.container img{
  background-color: #F7F7F7;
}

.container-text{
  background-color: #F7F7F7;
}

.container-text h2{
  background-color: #F7F7F7;
  color: #001122;
}

.container-text h3{
  background-color: inherit;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -1px;
  color: #888888;
  justify-content: left;
}

.image-container{
  background-color: #F7F7F7;
}

/* information action ratio */

/* information action ratio */

/* information action ratio */



@media (min-width: 810px) {
  header{
    padding: 100px;
    margin-right: auto;
    margin-left: auto;
    height: 100vh;
  }
  header h1{
    font-size: 72px;
  }
  .header-image-container{
    width: 300px;
    height: auto;
    padding-top: 15vh;
    padding-bottom: 15vh;
    margin: 0 auto;
  }
  .image-container{
    width: 300px;
    height: auto;
    padding-top: 15vh;
    padding-bottom: 15vh;
    margin: 0 auto;
  }
  .information{
    padding-top: 5vh;
    height: 1000px;
  }
  .container{
    display: flex;
    padding-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30vw;
    padding-right: 20vw;
  }
  .container img{
    width: 475px;
    height: auto;
    max-width: 100%;
  }
  .container-text{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    justify-content: center;
    text-align: left;
  }
  .container-text h2{
    margin-top: 20px;
    font-size: 35px;
  }
  .container-text h3{
    margin-top: 30px;
    width: 270px;
  }
}

@media (max-width: 810px) {
  header{
    margin: auto;
    height: 90vh;
  }
  header h1{
    padding-top: 10vw;
    display: block;
    font-size: 40px;
    letter-spacing: -3px;
  }
  header h2{
    margin: auto;
    padding: 15vw;
    padding-bottom: 0px;
  }
  .information{
    margin-left: 5vw;
    margin-right: 5vw;
  }
  .header-image-container{
    padding-top: 5vh;
    padding-bottom: 5vh;
    width: 60vw;
    height: auto; 
    justify-content: center;
    align-items: center; 
  }
  .image-container{
    padding-top: 5vh;
    padding-bottom: 5vh;
    width: 60vw;
    height: auto; 
    justify-content: center;
    align-items: center;
  }
  .container{
    display: flex;
    flex-direction: column;
    padding-bottom: 0px;
  }
  .container-text h2{
    margin-top: 5vh;
  }
  .image-container img{
    max-width: 100%;
    height: auto;
  }
  
}




@keyframes appearFromBottom {
  from {
      opacity: 0;
      transform: translateY(100%); /* Move the item down initially */
  }
  to {
      opacity: 1;
      transform: translateY(0); /* Move the item up to its final position */
  }
}







.button-4 {
  appearance: none;
  background-color: #222222;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  /* box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset; */
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  word-wrap: break-word;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button-4:hover {
  background-color: #222222;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}
