
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;;
    background-color: #FFFFFF;
}
.header h1 {
    color: #001122;
    font-weight: 700;
    letter-spacing: -4px;
    text-align: center;
    padding-top: 1em;
    border: magenta;
}
.banner {
  align-items: center;
  text-align: center;
  margin: auto;
  border: 2px solid #000;
}

.banner img {
    max-width: 100%;
    border: 2px solid #000;
    height: auto;
    display: block; 
    margin: 0 auto; 
  }

@media (min-width: 810px) {
  .header h1 {
    font-size: 72px;
  }
  .banner{
    width: 800px;
    height: 450px;
  }
}

@media (min-width: 200px) {
  .header h1 {
    font-size: 72px;
  }
  .banner{
    width: 391px;
    height: 284px;
  }
}